<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>378351724482-tetalegsvsc5kgfr1qqmpkf5vh37960k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.378351724482-tetalegsvsc5kgfr1qqmpkf5vh37960k</string>
	<key>API_KEY</key>
	<string>AIzaSyCaX6w7z0xZN0wdFSYjvaX4FElTvoJWYuA</string>
	<key>GCM_SENDER_ID</key>
	<string>378351724482</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hg.app.agendamentos</string>
	<key>PROJECT_ID</key>
	<string>agenda-52a9d</string>
	<key>STORAGE_BUCKET</key>
	<string>agenda-52a9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:378351724482:ios:effc2b155aefcf84d6185b</string>
</dict>
</plist>